<!DOCTYPE html>
<html>
  <head>
    <title>ENVIAR IMAGENS TESTE</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/js/p5.js"></script>
    <script src="/js/slim.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
        <input type="text" />
    <div id="container">
      <div id="chatter">
        <input type="text" />
      </div>
      <div id="uploader">
        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type="submit" value="Upload" />
        </form>
      </div>
      <a id="list" href="/list">list</a>
    </div>
  </body>
</html>
